---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bajor-staging-app
  labels:
    app: bajor-staging-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bajor-staging-app
  template:
    metadata:
      labels:
        app: bajor-staging-app
    spec:
      containers:
        - name: bajor-staging-app
          image: ghcr.io/zooniverse/bajor:__IMAGE_TAG__
          resources:
            requests:
              memory: "100Mi"
              cpu: "100m"
            limits:
              memory: "500Mi"
              cpu: "1000m"
          startupProbe:
            httpGet:
              path: /
              port: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            # allow a longer response time than 1s
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            # allow a longer response time than 1s
            timeoutSeconds: 10
          env:
          - name: HONEYBADGER_ENVIRONMENT
            value: 'staging'
          - name: PORT
            value: '80'
          - name: LOG_LEVEL
            value: 'DEBUG'
          envFrom:
          - secretRef:
              name: bajor-common-env-vars
          - secretRef:
              name: bajor-staging-api-env-vars
---
apiVersion: v1
kind: Service
metadata:
  name: bajor-staging-app
spec:
  selector:
    app: bajor-staging-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bajor-staging-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    nginx.ingress.kubernetes.io/proxy-body-size: 20m
spec:
  tls:
  - hosts:
    - bajor-staging.zooniverse.org
    secretName: bajor-staging-tls-secret
  rules:
  - host: bajor-staging.zooniverse.org
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: bajor-staging-app
            port:
              number: 80
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: bajor-staging-tls-secret
spec:
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  secretName: bajor-staging-tls-secret
  dnsNames:
    - bajor-staging.zooniverse.org
